.main_div{
    height: 290px;
    width: 680px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgb(214, 211, 211) 0px 5px 15px;
    padding: 20px;
    margin-top: 10%;
    margin-left: 25%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
}
.title {
    width: 60%;
}
 .ptitle {
       
        color: #a3a3a3;
        margin-bottom: 4px;
        font-weight: 500;
 }
  .title  h1 {
        
        font-family: Muli, sans-serif;
        font-weight: 1000;
        text-transform: uppercase;
        color: #292929;
        font-size: 20px;
        line-height: 26px;
        font-style: italic;
    }
    .description {
        width: 40%;
        text-align: right;
    }
       .description .address {
            font-size: 14px;
            line-height: 20px;
            line-height: 24px;
            margin-bottom: 4px;
            font-weight: 500;
            color: #a3a3a3;
        }
    
       .description .message {
            line-height: 24px;
            margin-bottom: 4px;
            font-weight: 300;
        }
    .bottom_section {
        display: flex;
        width: 100%;
      
    }
        .bottom_section .player {
            margin-left: 10px;
            border-left: 2px solid rgba(128, 128, 128, 0.226);
            padding-left: 20px;
            display: flex;
            width: 50%;
        }
        .bottom_section   .player_img {
                height: 110px;
                margin-right: 20px;
            }
    
        .bottom_section    p {
                margin-bottom: 8px;
                font-size: 12px;
                line-height: 15px;
                font-weight: 600;
                color: #a3a3a3;
               
            }
    
        .bottom_section .info {
                margin: 0 0 4px;
                font-size: 18px;
                line-height: 25px;
                font-family: Muli, sans-serif;
                font-weight: 700;
                color: #ed1a33;
            }
        .card_score {
            width: 50%;
        }
            .scores {
                display: flex;
                flex-direction: column;
            }
        
            .win {
                display: flex;
                width: 100%;
                margin-top: 20px;
                align-items: center;
                justify-content: space-between;
            }
                .winner {
                    display: flex;
                    align-items: center;
                    font-family: 'IBM Plex Sans', sans-serif;
                    text-transform: uppercase;
                    font-weight: 600;
        
                }
                    .placelogo {
                        border: 2px solid #ebebeb;
                        margin-right: 12px;
                    }
        
                    .winlogo {
                        margin-left: 7px;
                        height: 17px;
                        width: 17px;
                    }
            .score1 {
                font-size: 16px;
                line-height: 24px;
                color: rgba(194, 194, 194, 0.5);
                font-weight: 600;
            }
            
            .score_win {
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
            }
            
      